.view {
    min-width: 1024px;
    min-height: 768px;
    /* background-color: white;
    opacity: 0.8; */
}

.top-avatar {
    width: 100px;
    position: relative;
    left: 512px;
    transform: rotate(90deg);
}

.left-avatar {
    width: 100px;
    position: relative;
    top: 264px;
    left: -100px;
}

.right-avatar {
    width: 100px;
    position: relative;
    top: 264px;
    left: 800px;
    transform: scaleX(-1);
}

.yellow {
    background-color: yellow;
    color: black;
}

.button-play {
    position: relative;
    top: 20px;
}

.card {
    display: block;
}