<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Go Fish</title>
  <meta name="description" content="Go Fish Game for Kids">
  <meta name="author" content="Narciso Lobo and Chris Schneider">
  <meta name="background-designer" content="https://www.dreamstime.com/lightkitegirl_info">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  {% load static %}
  <link rel="shortcut icon" href="{% static 'fish_app/images/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'fish_app/css/style.css' %}">

  <script type="text/javascript">
    $( document ).ready(function() {
      var rows = $('table.setup tr');
      var twoPlayers = rows.filter('.two-players');
      var threePlayers = rows.filter('.three-players');
      var fourPlayers = rows.filter('.four-players');

      threePlayers.hide();
      fourPlayers.hide();
      
      $('#two').click(function() {
        threePlayers.hide();
        fourPlayers.hide();
      });

      $('#three').click(function() {
        threePlayers.show();
        fourPlayers.hide();
      });
      
      $('#four').click(function() {
        threePlayers.show();
        fourPlayers.show();
      });
    });
  </script>

</head>

<body style="background-image: url({% static 'fish_app/images/gofish-bg.png' %})">
  <div class="container">

    <!-- begin nav -->
    <nav class="navbar navbar-expand-md fixed-top bg-primary">
      <img class="title mr-4" src="{% static 'fish_app/images/title.png' %}" alt="Go Fish">
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="/gofish" class="larger yellow">Welcome, {{user.first_name}}!</a>
          </li>
        </ul>
      </div>
      <p class="mr-3 mb-0 larger"><a href="../myaccount" class="yellow">Edit My Account</a></p>
      <a href="../logout" class="btn btn-warning my-2 my-sm-0" role="button">LOG OUT</a>
    </nav>
    <!-- end nav -->

    <div class="view rounded mt-3 view-padding text-center">

      <!-- start errors -->
      {% if messages %}
      <div class="text-danger">
        {% for message in messages %}
        {% if message.tags %}
        <p>{{ message }}</p>
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
      <!-- end errors -->

      <img src="{% static 'fish_app/images/start.png' %}" alt="Start New Game" class="mt-3 mb-3">

      <form action="/gofish/initialize" method="POST">
      {% csrf_token %}
      <table class="w-50 bg-white rounded mx-auto setup">
        <tr>
          <td class="text-right p-3">Number of Players:</td>
          <td class="p-3 d-flex justify-content-center">
            <a href="#" id="two" role="button" class="btn btn-primary">2</a>
            <a href="#" id="three" role="button" class="btn btn-primary ml-2">3</a>
            <a href="#" id="four" role="button" class="btn btn-primary ml-2">4</a>
          </td>
        </tr>
        <tr>
          <td class="text-right p-3">Player 1:</td>
          <td class="p-3 d-flex justify-content-center">{{ user.username }} (you)</td>
        </tr>
        <tr class="two-players">
          <td class="text-right p-3"><label for="player_2" class="text-right col-form-label">Choose Player 2:</label></td>
          <td class="p-3">
            <select name="player_2" id="player_2" class="form-control">
              {% for user in all_other_users %}
              <option value="{{ user.id }}">{{ user.username }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr class="three-players">
          <td class="text-right p-3"><label for="player_3" class="text-right col-form-label">Choose Player 3:</label></td>
          <td class="p-3">
            <select name="player_3" id="player_3" class="form-control">
              {% for user in all_users %}
              <option value="{{ user.id }}">{{ user.username }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr class="four-players">
          <td class="text-right p-3"><label for="player_4" class="text-right col-form-label">Choose Player 4:</label></td>
          <td class="p-3">
            <select name="player_4" id="player_4" class="form-control">
              {% for user in all_users %}
              <option value="{{ user.id }}">{{ user.username }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="p-3"><input type="submit" value="START GAME" class="btn btn-primary btn-block"></td>
        </tr>
        <tr>
          <td colspan="2" class="p-4"><a href="../new_player">Click here to register a new player!</a></td>
        </tr>
      </table>
      </form>
    </div>
  </div>
</body>

</html>

<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'fish_app/css/style.css' %}">


    <title>Game Page</title>
</head>

<body>

    <div class="container ">



        <div class="row mb-3">

            <div class="col">
                
                <h3>Welcome {{user.first_name}} {{user.last_name}} </h3>
            </div>
            <div class="col text-right text-bottom">
                <a class="align-bottom" href="../myaccount">Edit My Account</a>
                <button class="btn  ml-2" type="button" onclick="window.location.href = '/logout'">Logout</button>
            </div>
        </div>


        <div class="row">

            <div class="col">
                    <h1>Main Game - Current Player: {{request.session.player_name}}</h1>
                <p> Num Players: {{request.session.num_players}}</p>
                <p> Players: {{request.session.players}}</p>
                <p> Current Player: {{request.session.player_name}}</p>
                <p> Deck: {{request.session.deck}}</p>
                <p> Deck Length: {{request.session.deck|length}}</p>
                <p> Books: {{request.session.books}}</p>
                


                <h3> completed games</h3>

                <h3> Leaderboard</h3>
                <h3> New Game</h3>

                <form class="needs-validation" action="/gofish/initialize" method="POST">
                    {% csrf_token %}

                    <div class="mb-3">
                        Number of Players:
                        <select name=num_players>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>

                    <input type="submit" value="Submit" class="btn btn-primary  ">
                </form>

                <form class="needs-validation" action="/gofish/taketurn" method="POST">
                    {% csrf_token %}
                    {% if  request.session.rank_counts|length == 0 %}
                    <p> empty rank counts </p>
                    <div class="mb-3">
                        <input type = "hidden" name=ask_rank value="A">
                        <input type = "hidden" name=ask_player value="{{request.session.player_name}}">
                            
                    </div>
                        <input type="submit" value="Draw Cards!" class="btn btn-primary  ">
                    {%else%}
                        <p>not empty rank counts</p>
                        
                    <div class="mb-3">
                        Ask for card:
                        
                        
                        
                        <select name=ask_rank>
                            {% for rank_count in request.session.rank_counts %}
                            
                            <option value="{{rank_count}}">{{rank_count}}</option>
                            
                            {%endfor%}
                        </select>
                        from player: 
                        <select name=ask_player>
                                
                                {%for player in request.session.other_player_names %}
                                     
                                    <option value="{{player}}">{{player}}</option>
                                    
                                {%endfor%}
                            </select>
                            
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary  ">
                    {%endif%}
                    
                </form>
                <h3>My Cards</h3>
                <div class="row">
                        
                        {%for card_img_name in request.session.hand_images %}
                        <div class="col">
                                <img class = "img-fluid" src="{% static card_img_name %}" />
                        </div>
                         
                    {%endfor%}
                </div>

                <h3>Cards Received</h3>
                <div class="row">
                        {%for taken_card_img_name in request.session.taken_cards_images %}
                        <div class="col">
                                <img class = "img-fluid" src="{% static taken_card_img_name %}" />
                        </div>
                         
                    {%endfor%}
                </div>


                
                <h3>Card Fished</h3>
                <div class="row">
                        {%for fished_card in request.session.fished_cards_images %}
                        <div class="col">
                                <img class = "img-fluid" src="{% static fished_card %}" />
                        </div>
                         
                    {%endfor%}
                </div>

                <h3>Books</h3>
                <div class="row">
                        {%for book_image in request.session.book_images %}
                        <div class="col">
                                <img class = "img-fluid" src="{% static book_image %}" />
                        </div>
                         
                        {%endfor%}
                </div>

                <h3>Deck</h3>
                <div class="row">
                        {%for card in request.session.deck %}
                        <div class="col">
                                <img class = "img-fluid" src="{% static 'fish_app/images/cards/card.png'  %}" />
                        </div>
                         
                        {%endfor%}
                </div>
                
                

                {% if messages %}
                <br>
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>

<!-- <h1>Index Page</h1>
<h3>Create a User</h3> -->