<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Go Fish</title>
  <meta name="description" content="Go Fish Game for Kids">
  <meta name="author" content="Narciso Lobo and Chris Schneider">
  <meta name="background-designer" content="https://www.dreamstime.com/lightkitegirl_info">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  {% load static %}
  <link rel="shortcut icon" href="{% static 'login_app/images/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'login_app/css/style.css' %}">
</head>

<body style="background-image: url({% static 'login_app/images/gofish-bg.png' %})">
  <div class="container">
    <div class="view rounded mt-3 d-flex justify-content-center">
      <div class="card border-primary align-self-start">
        <h3 class="card-header">LOGIN TO GO FISH!</h3>
        <div class="card-body text-secondary">

          <div class="text-danger">
            <!-- start errors -->
            {% if messages %}
            {% for message in messages %}
            {% if message.tags %}
            <p>{{ message }}</p>
            {% endif %}
            {% endfor %}
            {% endif %}
            <!-- end errors -->
    
          </div>

          <form action="/login" method="POST" id="login">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" class="form-control" name="username" id="username" value="{{request.session.username}}">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" name="password" id="password" value="{{request.session.password}}">
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-1 mb-3">LOG IN</button>
          </form>
          <p class="mt-4 mb-0 text-center">Not registered?</p>
          <p class="text-center"> <a href="/registration">Create an account here.</a></p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>