<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <title>Login</title>
</head>

<body>

    <div class="container ">

            <div class="row mb-3">

                    <div class="col">
        
        
                    </div>
                    <div class="col text-right text-bottom">
                        <a class="align-bottom" href="../quotes">Back</a>
                        <button class="btn  ml-2" type="button" onclick="window.location.href = '/logout'">Logout</button>
                    </div>
                </div>

        
        <div class="row">

            <div class="col">

                <h1>Edit My Account</h1>

                <form class="needs-validation" action="/update" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{user.id}}">
                    <div class="mb-3">
                        First Name: <input class="form-control" type="text" name="first_name" value="{{user.first_name}}">
                    </div>
                    <div class=" mb-3">
                        Last Name: <input class="form-control" type="text" name="last_name" value="{{user.last_name}}">
                    </div>
                    <div class="mb-3">
                        Birthday: <input class="form-control" type="date" name="birthday" value="{{user.birthday | date:'Y-m-d' }}">
                    </div>

                    <div class=" mb-3">
                        Email: <input class="form-control" type="email" name="email" value="{{user.email}}">
                    </div>
                    <div class=" mb-3">
                        Password: <input class="form-control" type="password" name="password">
                    </div>
                    <div class=" mb-3">
                        Confirm Password: <input class="form-control" type="password" name="confirm_password" >
                    </div>

                    <input type="submit" value="update" class="btn btn-primary btn-lg">
                </form>

                



            </div>

        
        </div>
        <div class="row">
            <div class="col">
                    {% if messages %}
                    <br>
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
            </div>
        </div>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>

<!-- <h1>Index Page</h1>
<h3>Create a User</h3> -->